<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="Node1" value="CN1:NN1:CP1:NP1"/>
      <add key="Node2" value="NN1:NN4:NP2:NP3"/>
      <add key="Node3" value="NN1:NN2:NP1:NP3"/>
      <add key="Node4" value="NN2:NN3:NP1:NP3"/>
      <add key="Node5" value="NN2:NN4:NP2:NP1"/>
      <add key="Node6" value="CN2:NN4:CP1:NP2"/>
    </appSettings>
</configuration>